.home-container {
    margin-top: 80px;
    text-align: center;
    justify-content:center;
}

.home-container h1 {
    font-weight: 500;
}

.home-container a {
    text-decoration: none;
    color: white;
}

.home-container p {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 45px;
}

.home-container .home-btn {
    display: flex;
    justify-content: center;
}

.home-container .btn-calculate {
    background-color: black;
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: 700;
}

.home-container .btn-calculate:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.799);
}
